:root {
    --future-vision-primary-color: rgb(255, 212, 55);
    --future-vision-secondary-color: rgb(0, 136, 255);
    --future-vision-danger-color: rgb(255, 120, 120);
    --future-vision-text-color: rgb(255, 245, 245);

    --future-vision-background-color: rgb(31, 30, 30);

    --future-vision-background-primary-color: color-mix(in srgb, var(--future-vision-primary-color), var(--future-vision-background-color));
    --future-vision-background-secondary-color: color-mix(in srgb, var(--future-vision-second-color), var(--future-vision-background-color));
    --future-vision-background-danger-color: color-mix(in srgb, var(--future-vision-danger-color), var(--future-vision-background-color));
}

html {
    background-color: var(--future-vision-background-color);
    font-family: Arial, Helvetica, sans-serif;
}